{% extends 'shell.html' %}
{% from "_form_field.html" import form_field %}

{% block content %}
<div class="container py-2 px-4 mb-3 mt-2">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-8">
                <div class="media">
                    <div class="media-body">
                    <h2 class="account-heading">{{ current_user.username }}</h2>
                    <p class="text-secondary">{{ current_user.email }}</p>
                  </div>
                </div>
                <form method='POST' action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Password Update</legend>
                        <div class="form-group">
                            {{ form_field(form.password)}}
                        </div>
                        <div class="form-group">
                            {{ form_field(form.confirm_password)}}
                        </div>
                    </fieldset>
                    <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
                <a href="{{ url_for('home') }}"><button type="button" class="btn btn-success mt-5">Classroom</button></a>
            </div> <!-- column -->
        </div> <!-- row -->
    </div>

{% endblock content %}
