/* .content-section {
  background: #ffffff;
  padding: 10px 20px; */
  /* border: 1px solid #dddddd;
  border-radius: 3px; */
  /* margin-bottom: 20px;
} */

.account-heading {
  font-size: 2.5rem;
}



@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
        url("/static/fonts/poppins-v5-latin/poppins-Qwell-subset.woff2") format('woff2'),
        url("/static/fonts/poppins-v5-latin/poppins-Qwell-subset.woff") format('woff');
}

.qwell-logo {
    font-family: 'Poppins', sans-serif;
}

.font-icon  {
    font-size: 1em;
}

html, body {
    height: 100vh;
}

#super-q-div, #question-div {
    height: 100%;
    margin: 0;
}

/* #show_answer {
    border: 1px solid;
    border-color: #17a2b8;
    border-radius: 25rem;
    padding: 0.5em;
} */

/* #images-container {
    flex-basis: auto;
    background: blue;
    overflow: auto;
}

#super-q-div {
    height: 75%;
    background-color: yellow;
}

#question-div {
    /* height: 70%;
    background-color: green; */
} */


/* .images-container {
        height: 50vh;
        border: solid;
        /* margin-left: auto;
        margin-right: auto; */
} */
