# Pictures #
############
# this is a comment
*.jpg
*.png
*.svg

# Audio #
############
*.ogg

# Miscellaneous #
############
venv/
temp/
snippets.txt
__pycache__/
lalang/helpers/__pycache__/
assets/
lalang/myTests/

